{% extends "base/base-template.html" %}
{% load static %}
{% block content %}

<!-- Carousel
    ================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<a href="{{BASE_URL}}kitchen/water_beverages"><img class="first-slide" src="{% static 'images/ba.jpg' %}"
					alt="First slide"></a>
		</div>
		<div class="item">
			<a href="{{BASE_URL}}personal_care/care"><img class="second-slide " src="{% static 'images/ba1.jpg' %}"
					alt="Second slide"></a>
		</div>
		<div class="item">
			<a href="{{BASE_URL}}household/hold"><img class="third-slide " src="{% static 'images/ba2.jpg' %}"
					alt="Third slide"></a>
		</div>
	</div>
</div>
<!--content-->
<div class="content-top offer-w3agile">
	<div class="container ">
		<div class="spec ">
			<h3>Special Offers</h3>
			<div class="ser-t">
				<b></b>
				<span><i></i></span>
				<b class="line"></b>
			</div>
		</div>

		<div class=" con-w3l wthree-of">
			{% for hst in hst %}
			<div class="col-md-3 pro-1">
				<div class="col-m">
					<a href="#" data-toggle="modal" data-target="#myModal1" class="offer-img">
						<img src="{{hst.image.url}}" class="img-responsive" alt="">
						<div class="offer">
							<p><span>Offer</span></p>
						</div>
					</a>
					<div class="mid-1">
						<div class="women">
							<h6><a href="{{BASE_URL}}other/single_detail_4/{{hst.id}}">{{hst.item}}</a></h6>
						</div>
						<div class="mid-2">
							<p><label>{{hst.discount_price}}</label><em class="item_price">{{hst.price}}</em></p>
							<div class="block">
								<div class="starbox small ghosting"> </div>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="add">
							<button class="btn btn-danger my-cart-btn my-cart-b " data-id="{{offer.id}}" data-name="Moong"
								data-summary="summary 1" data-price="1.50" data-quantity="1"
								data-image="images/of.png">Add to Cart</button>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
			<div class="clearfix"></div>
		</div>

		<div class=" con-w3l wthree-of">
			{% for hsn in hsn %}
			<div class="col-md-3 pro-1">
				<div class="col-m">
					<a href="#" data-toggle="modal" data-target="#myModal1" class="offer-img">
						<img src="{{hsn.image.url}}" class="img-responsive" alt="">
						<div class="offer">
							<p><span>Offer</span></p>
						</div>
					</a>
					<div class="mid-1">
						<div class="women">
							<h6><a href="{{BASE_URL}}other/single_detail_4/{{hsn.id}}">{{hsn.item}}</a></h6>
						</div>
						<div class="mid-2">
							<p><label>{{hsn.discount_price}}</label><em class="item_price">{{hsn.price}}</em></p>
							<div class="block">
								<div class="starbox small ghosting"> </div>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="add">
							<button class="btn btn-danger my-cart-btn my-cart-b " data-id="1" data-name="Moong"
								data-summary="summary 1" data-price="1.50" data-quantity="1"
								data-image="images/of.png">Add to Cart</button>
						</div>

					</div>
				</div>
			</div>
			{% endfor %}
			<div class="clearfix"></div>
		</div>

		<div class=" con-w3l wthree-of">
			{% for fv in fv %}
			<div class="col-md-3 pro-1">
				<div class="col-m">
					<a href="#" data-toggle="modal" data-target="#myModal1" class="offer-img">
						<img src="{{fv.image.url}}" class="img-responsive" alt="">
						<div class="offer">
							<p><span>Offer</span></p>
						</div>
					</a>
					<div class="mid-1">
						<div class="women">
							<h6><a href="{{BASE_URL}}other/single_detail_4/{{fv.id}}">{{fv.item}}</a></h6>
						</div>
						<div class="mid-2">
							<p><label>{{fv.discount_price}}</label><em class="item_price">{{fv.price}}</em></p>
							<div class="block">
								<div class="starbox small ghosting"> </div>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="add">
							<button class="btn btn-danger my-cart-btn my-cart-b " data-id="1" data-name="Moong"
								data-summary="summary 1" data-price="1.50" data-quantity="1"
								data-image="images/of.png">Add to Cart</button>
						</div>

					</div>
				</div>
			</div>
			{% endfor %}
			<div class="clearfix"></div>
		</div>

		<div class=" con-w3l wthree-of">
			{% for bkf in bkf %}
			<div class="col-md-3 pro-1">
				<div class="col-m">
					<a href="#" data-toggle="modal" data-target="#myModal1" class="offer-img">
						<img src="{{bkf.image.url}}" class="img-responsive" alt="">
						<div class="offer">
							<p><span>Offer</span></p>
						</div>
					</a>
					<div class="mid-1">
						<div class="women">
							<h6><a href="{{BASE_URL}}other/single_detail_4/{{bkf.id}}">{{bkf.item}}</a></h6>
						</div>
						<div class="mid-2">
							<p><label>{{bkf.discount_price}}</label><em class="item_price">{{bkf.price}}</em></p>
							<div class="block">
								<div class="starbox small ghosting"> </div>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="add">
							<button class="btn btn-danger my-cart-btn my-cart-b " data-id="1" data-name="Moong"
								data-summary="summary 1" data-price="1.50" data-quantity="1"
								data-image="images/of.png">Add to Cart</button>
						</div>

					</div>
				</div>
			</div>
			{% endfor %}
			<div class="clearfix"></div>
		</div>

	</div>
</div>

{% endblock %}