{% extends "base/base-template.html" %}
{% load static %}
{% block content %}

<!--banner-->
<div class="banner-top">
    <div class="container">
        <h3>Password set</h3>
        <h4><a href="{{BASE_URL}}home">Home</a><label>/</label>Login</h4>
        <div class="clearfix"> </div>
    </div>
</div>
<!--login-->

<div class="login">

    <div class="main-agileits">
        <div class="form-w3agile">
            <h3>Password Set</h3>
            <p>Your password has been set. You can <a href="{% url 'login' %}">"Login Here"</a></p>
        </div>
        <div>
        </div>
    </div>
</div>
{% endblock %}