{% extends "base/base-template.html" %}
{% load static %}
{% block content %}

<!--banner-->
<div class="banner-top">
    <div class="container">
        <h3>Reset your password</h3>
        <h4><a href="{{BASE_URL}}home">Home</a><label>/</label>Login</h4>
        <div class="clearfix"> </div>
    </div>
</div>
<!--login-->

<div class="login">

    <div class="main-agileits">
        <div class="form-w3agile">
            <h3>Reset your password</h3>
            {% if validlink %}
            <p>Please enter your new password twice:</p>
            <form action="." method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <!-- <div class="key">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <input type="password" value="Password" name="password1" onfocus="this.value = '';"
                        onblur="if (this.value == '') {this.value = 'Password';}" required="">
                    <div class="clearfix"></div>
                </div>
                <div class="key">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <input type="password" value="Password" name="password1" onfocus="this.value = '';"
                        onblur="if (this.value == '') {this.value = 'Password';}" required="">
                    <div class="clearfix"></div>
                </div>
        </div> -->
        <p><input type="submit" value="Confirm"/></p>
        </form>
        {% else %}
        <p>The password reset link was invalid, possibly because it has
            already been used. Please request a new password reset.</p>
        {% endif %}
    </div>
    <div>
    </div>
</div>
</div>

{% endblock %}