{% extends "base/base-template.html" %}
{% load static %}
{% block content %}

<!-- Carousel
    ================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<a href="{{BASE_URL}}personal_care/care"><img class="first-slide" src="{% static 'images/ba1.jpg' %}" alt="First slide"></a>

		</div>
		<div class="item">
			<a href="{{BASE_URL}}kitchen/water_beverages"><img class="second-slide " src="{% static 'images/ba.jpg' %}" alt="Second slide"></a>

		</div>
		<div class="item">
			<a href="{{BASE_URL}}household/hold"><img class="third-slide " src="{% static 'images/ba2.jpg' %}" alt="Third slide"></a>

		</div>
	</div>

</div><!-- /.carousel -->

<!--content-->
<div class="kic-top ">
	<div class="container ">
		<div class="kic ">
			<h3>Popular Categories</h3>

		</div>
		<div class="col-md-4 kic-top1">
			{% for p1 in p1 %}
			<a href="{{BASE_URL}}other/single">
				<img src="{{p1.image.url}}" class="img-responsive" alt="">
			</a>
			<h6>{{p1.item}}</h6>
			<p>{{p1.caption}}</p>
		</div>
		{% endfor %}

		<div class="col-md-4 kic-top1">
			{% for p2 in p2 %}
			<a href="{{BASE_URL}}other/single">
				<img src="{{p2.image.url}}" class="img-responsive" alt="">
			</a>
			<h6>{{p2.item}}</h6>
			<p>{{p2.caption}}</p>
		</div>
		{% endfor %}
		
		<div class="col-md-4 kic-top1">
			{% for p3 in p3 %}
			<a href="{{BASE_URL}}other/single">
				<img src="{{p3.image.url}}" class="img-responsive" alt="">
			</a>
			<h6>{{p3.item}}</h6>
			<p>{{p3.caption}}</p>
		</div>
		{% endfor %}
	</div>
</div>

<!--content-->
<div class="product">
	<div class="container">
		<div class="spec ">
			<h3>Products</h3>
			<div class="ser-t">
				<b></b>
				<span><i></i></span>
				<b class="line"></b>
			</div>
		</div>
		<div class=" con-w3l agileinf">
			{% for ayurved in ayurved %}
			<div class="col-md-3 pro-1">
				<div class="col-m">
					<a href="#" data-toggle="modal" data-target="#myModal1" class="offer-img">
						<img src="{{ayurved.image.url}}" class="img-responsive" alt="">
					</a>
					<div class="mid-1">
						<div class="women">
							<h6><a href="{{BASE_URL}}other/single_detail_2/{{ayurved.id}}">{{ayurved.item}}</a></h6>
						</div>
						<div class="mid-2">
							<p><label>{{ayurved.discount_price}}</label><em class="item_price">{{ayurved.price}}</em></p>
							<div class="block">
								<div class="starbox small ghosting"> </div>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="add">
							<button class="btn btn-danger my-cart-btn my-cart-b" data-id="{{ayurved.id}}" data-name="{{ayurved.item}}"
								data-summary="summary 36" data-price="6.00" data-quantity="1"
								data-image="{{ayurved.image.url}}">Add to Cart</button>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
			<div class="clearfix"></div>
		</div>
	</div>
</div>

{% endblock %}